@using WebMatrix.Data;

@{
    
    Database db = Database.OpenConnectionString(Functions.connectionstring, Functions.provider);


    var test = db.Query("SELECT [Studie_onderdelen].leerjaar, [Studie_onderdelen].periode, [Toets].weging FROM [Studie_onderdelen] INNER JOIN [Toets] ON [Studie_onderdelen].onderdeelID = [Toets].studieonderdeel WHERE onderdeelID = 1 ");



    var studieOpleiding = Request.Form["AddOpleiding"];
    var studieCrohonummer = Convert.ToInt32(Request.Form["AddCroNummer"]);
    var studieniveau = Request.Form["AddNiveau"];
    var studieVariant = Request.Form["AddVariant"];
    var studieFlexOnd = Request.Form["AddFlexOnd"];
    var studieVraFin = Request.Form["AddVraFin"];
    var studieVerTra = Request.Form["AddVerTra"];
    var studieSpeTra = Request.Form["AddSpeTra"];
    var studieVesPla = Request.Form["AddVesPla"];
    var studieJaar = "";

    var leerjaar = Convert.ToInt32(Request.Form["leerjaar"]);
    var periode = Convert.ToInt32(Request.Form["periode"]);
    var onderdeelnaam = Request.Form["fsm"];
    var codeleerjaar = Request.Form["cflm"];
    var codeonderwijseenheid = Request.Form["conderwijs"];
    var coordinator = Request.Form["Coördinator"];
    var keuze = Request.Form["keuze"];
    var vak = Request.Form["titel"];
    var ec = Convert.ToInt32(Request.Form["studiepunten"]);
    var uitkerenhoofdvak = Request.Form["hoofdvak"];
    var wijzewaardering = Request.Form["waardering"];
    var slagingsnormond = Request.Form["slagingsnorm"];
    var woordbeoordeeldond = Request.Form["beoordeeld"];
    var geldigvanaf = Request.Form["vanaf"];
    var geldigtm = Request.Form["totmet"];
    var toetscode = Request.Form["codetoets"];
    var toetsnaam = Request.Form["titeltoets"];
    var toetswijze = Request.Form["wijze"];
    var toetsduur = Convert.ToInt32(Request.Form["toetsduur"]);
    var waardering = Request.Form["wijzewaardering"];
    var slagingnsnorm = Request.Form["slagingsnormen"];
    var wordbeoordeeld = Request.Form["wordtbeoordeeld"];
    var weging = Convert.ToInt32(Request.Form["weging"]);
    var toetsmoment1 = Request.Form["toetsmoment1"];
    var toetsmoment2 = Request.Form["toetsmoment2"];
    var volgordelijkheid = Request.Form["volgordelijkheid"];
    var taal = Request.Form["taal"];
    var eindwerk = Request.Form["eindwerk"];
    var examinator = Request.Form["examinator"];

    var sqlCommand = "SELECT stuOpleiding , stuCroNr, stuNiveau, stuVariant , stuFlexOnderwijs, stuVraFinanciering, stuVerTraject, stuSpeTraject, vestiging FROM Studie_overzicht";
    var showOverzicht = db.Query(sqlCommand);


    if (IsPost && Request.Form["ICT"] == "HBO-ICT")
    {

        studieJaar = db.QueryValue("SELECT leerjaar.studiejaar FROM [Leerjaar] WHERE leerjaar.leerjaarID = 3");

    }

    if (IsPost && Request.Form["ITSM"] == "AD-ITSM")
    {
        studieJaar = db.QueryValue("SELECT leerjaar.studiejaar FROM [Leerjaar] WHERE leerjaar.leerjaarID = 2");
    }

    if (IsPost && Validation.IsValid() && Request.Form["submit"] == "Login")
    {
        Validation.RequireField("username", "Er moet een gebruikersnaam worden ingevuld");
        Validation.RequireField("password", "Er moet een wachtwoord in worden gevuld");
        var username = Request.Form["username"];
        var password = Request.Form["password"];

        if (Functions.Login(username, password))
        {
            //You've successfully logged in (pop up verdwijnen)
        }
        else
        {
            Validation.AddFormError("Onjuiste gebruikersnaam en/of wachtwoord ingevoerd");
        }
    }

    if (IsPost && Request.Form["addOverzicht"] == "Toevoegen")
    {
        Functions.AddOverzicht(studieOpleiding, studieCrohonummer, studieniveau, studieVariant, studieFlexOnd, studieVraFin, studieVerTra, studieSpeTra, studieVesPla);
    }
    if (IsPost && Request.Form["SchemaAdd"] == "Add")
    {
        Functions.InsertTable(leerjaar, periode, onderdeelnaam, codeleerjaar, codeonderwijseenheid, coordinator, keuze, vak, ec, uitkerenhoofdvak, wijzewaardering, slagingsnormond, woordbeoordeeldond, geldigvanaf, geldigtm, toetscode, toetsnaam, toetswijze, toetsduur, waardering, slagingnsnorm, wordbeoordeeld, weging, toetsmoment1, toetsmoment2, volgordelijkheid, taal, eindwerk, examinator);
    }
}


<html>
@RenderPage("~/Shared/_header.cshtml")
<head>
<style type="text/css">
    .inhoud {
        display: none;
    }
    .ulclass {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #008487;
        text-align:center;
    }

    .liclass {
        display:inline;

    }

        .liclass a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            margin: 0px 60px;
            text-decoration: none;
            display: inline-block;
        }

            .liclass a:hover:not(.active) {
                background-color: #008487;
                color: black;
            }

    .active {
        background-color: white;
    }
    
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#menu a').each(function () {
            id = $(this).attr('href');
            id = id.substring(id.lastIndexOf('/'));
            id = id.substring(0, id.indexOf('.'));
            $(this).attr('rel', id);
        });
        $('#home').show();
        $('#menu a').click(function (e) {
            e.preventDefault();
            $('.inhoud').hide();
            $('#' + $(this).attr('rel')).show();
            location.hash = '#!/' + $(this).attr('rel');
            return false;
        });
    });

</script>
</head>

<body>
    <div id="menu">
        <ul class="ulclass">
            <li class="liclass"><a href="HBO-ICT.cshtml">HBO-ICT</a></li>
            <li class="liclass"><a href="AD-ITSM.cshtml">AD-ITSM</a></li>
            <li class="liclass"><a href="TechInformatica.cshtml">Technische Informatica</a></li>
        </ul>
    </div>
    <div id="HBO-ICT" class="inhoud">
        <div id="menu">
            <ul class="ulclass">
                <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
            </ul>
        </div>
    </div>
    <div id="AD-ITSM" class="inhoud ">
        <div id="menu">
            <ul class="ulclass ">
                <li class="liclass"><a href="ADI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="ADI-J2.cshtml">Jaar 2</a></li>
            </ul>
        </div>
    </div>
    <div id="TechInformatica" class="inhoud">
        <div id="menu">
            <ul class="ulclass">
                <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
            </ul>
        </div>
    </div>
    <div id="HBO-ICT">        
        <div id="HI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J3" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml" style="background-color:#007879">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J4" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml" style="background-color:#007879">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>       
    </div>

    <div id="AD-ITSM">
        <div id="ADI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="ADI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="ADI-J2.cshtml">Jaar 2</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="ADI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="ADI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="ADI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
    </div>
    <div id="TechnInformatica">
        <div id="TI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J3" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml" style="background-color:#007879">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J4" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml" style="background-color:#007879">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
    </div>
</body>


@RenderPage("~/Shared/_footer.cshtml")
</html>
