@using WebMatrix.Data;

@{
    Database db = Database.OpenConnectionString(Functions.connectionstring, Functions.provider);
    var studieJaar = "";

    //if (IsPost && Request.Form["ICT"] == "HBO-ICT")
    //{
    //    studieJaar = db.QueryValue("SELECT leerjaar.studiejaar FROM [Leerjaar] WHERE leerjaar.leerjaarID = 3");
    //    Functions.SelectStudieoverview("HBO-ICT");
    //}

    //if (IsPost && Request.Form["ITSM"] == "AD-ITSM")
    //{
    //    studieJaar = db.QueryValue("SELECT leerjaar.studiejaar FROM [Leerjaar] WHERE leerjaar.leerjaarID = 2");
    //}


}
<html>
@RenderPage("~/Shared/_header.cshtml")
<head>
    <style type="text/css">
        .inhoud {
            display: none;
        }

        .ulclass {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #008487;
            text-align: center;
        }

        .liclass {
            display: inline;
        }

            .liclass a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                margin: 0px 60px;
                text-decoration: none;
                display: inline-block;
            }

                .liclass a:hover:not(.active) {
                    background-color: #008487;
                    color: black;
                }

        .active {
            background-color: white;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu a').each(function () {
                id = $(this).attr('href');
                id = id.substring(id.lastIndexOf('/'));
                id = id.substring(0, id.indexOf('.'));
                $(this).attr('rel', id);
            });
            $('#home').show();
            $('#menu a').click(function (e) {
                e.preventDefault();
                $('.inhoud').hide();
                $('#' + $(this).attr('rel')).show();
                location.hash = '#!/' + $(this).attr('rel');
                return false;
            });
        });

    </script>
</head>

<body>
    <div id="menu">
        <ul class="ulclass">
            <li class="liclass"><a href="HBO-ICT.cshtml">HBO-ICT</a></li>
            <li class="liclass"><a href="AD-ITSM.cshtml">AD-ITSM</a></li>
            <li class="liclass"><a href="TechInformatica.cshtml">Technische Informatica</a></li>
        </ul>
    </div>
    <div id="HBO-ICT" class="inhoud">
        <div id="menu">
            <ul class="ulclass">
                <li class="liclass"><a name="jaar1" href="HI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
            </ul>
        </div>
    </div>
    <div id="AD-ITSM" class="inhoud ">
        <div id="menu">
            <ul class="ulclass ">
                <li class="liclass"><a href="ADI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="ADI-J2.cshtml">Jaar 2</a></li>
            </ul>
        </div>
    </div>
    <div id="TechInformatica" class="inhoud">
        <div id="menu">
            <ul class="ulclass">
                <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
            </ul>
        </div>
    </div>
    <div id="HBO-ICT">
        <div id="HI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J3" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml" style="background-color:#007879">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="HI-J4" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="HI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="HI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="HI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="HI-J4.cshtml" style="background-color:#007879">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
    </div>

    <div id="AD-ITSM">
        <div id="ADI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="ADI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="ADI-J2.cshtml">Jaar 2</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="ADI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="ADI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="ADI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
    </div>
    <div id="TechnInformatica">
        <div id="TI-J1" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml" style="background-color:#007879">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J2" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml" style="background-color:#007879">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J3" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml" style="background-color:#007879">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
        <div id="TI-J4" class="Inhoud">
            <div id="menu">
                <ul class="ulclass">
                    <li class="liclass"><a href="TI-J1.cshtml">Jaar 1</a></li>
                    <li class="liclass"><a href="TI-J2.cshtml">Jaar 2</a></li>
                    <li class="liclass"><a href="TI-J3.cshtml">Jaar 3</a></li>
                    <li class="liclass"><a href="TI-J4.cshtml" style="background-color:#007879">Jaar 4</a></li>
                </ul>
            </div>
            [Insert tabel hier]
        </div>
    </div>
</body>


@RenderPage("~/Shared/_footer.cshtml")
</html>
