@{

}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" version="XHTML+RDFa 1.0" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="js checked svg objectfit object-fit placeholder" style="">
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script async="" src="https://sc-static.net/scevent.min.js"></script>

    <script type="text/javascript" async="" src="//static.hotjar.com/c/hotjar-1074737.js?sv=5"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//static.hotjar.com/c/hotjar-671059.js?sv=5"></script>
    <script type="text/javascript" src="https://www.googletagmanager.com/gtm.js?id=GTM-PC54FDB" async=""></script>
    <script type="text/javascript">dataLayer = [{ "entityType": "node", "entityBundle": "study_full_time", "entityId": "7225", "entityLabel": "HBO-ICT", "entityLanguage": "nl", "entityTnid": "0", "entityVid": "136178", "entityName": "", "entityUid": "0", "entityCreated": "1476963107", "entityStatus": "1", "entityTaxonomy": { "interessegebieden": { "21": "ICT" }, "locatie": { "28": "Leeuwarden" }, "opleidingstype": { "34": "Bachelor" }, "studieduur": { "45": "4 jaar" }, "toelatingsniveau": { "46": "HAVO", "48": "Cultuur \u0026 Maatschappij", "47": "Economie \u0026 Maatschappij", "49": "Natuur \u0026 Gezondheid", "50": "Natuur \u0026 Techniek", "51": "VWO", "52": "Cultuur \u0026 Maatschappij", "53": "Economie \u0026 Maatschappij", "54": "Natuur \u0026 Gezondheid", "55": "Natuur \u0026 Techniek", "56": "MBO" }, "tags": { "885": "ict", "932": "HBO-ict", "920": "informatica", "923": "bim", "926": "Business IT \u0026 Management", "929": "IT" }, "diploma": { "1540": "Bachelor" }, "startmaanden": { "1531": "September" }, "taal": { "1528": "Nederlands" }, "studie_soorten": { "354": "voltijd" } }, "drupalLanguage": "nl", "userUid": 0, "entityDynamicRetargeting": "ICT-ICT" }];</script>

    <!-- Responsive and mobile friendly -->

    <title>Leerplanschema NHL Stenden</title>
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_9PPr3VH1_6u5XaxqqqBW_eiLD1HFlbAcsE21CrEd_ng.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_XV-fB1_2kL5De2HkgfZt-hhNBy8hp7iCsgoqUA9-eDo.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Shared/StyleSheet.css" />

</head>
<body class="html not-front not-logged-in two-sidebars page-node page-node- page-node-7225 node-type-study-full-time domain-nhl i18n-nl node-study cookieControl-processed">

    <footer class="footer">
        <div class="footer__wrap wrap">
            <div id="footer" class="row">
                <div class="footer__search col-xs-12 col-lg-6">
                    <div id="block-apachesolr-search-search-form-nhl-zoeken-en" class="block block-apachesolr-search first last">
                        <div class="content">
                            <form class="search-form hideSubmitButton-processed" action="https://www.nhlstenden.com/en/search" target="_blank" method="post" id="nhl_zoeken_en" accept-charset="UTF-8">
                                <div>
                                    <div class="container-inline search-form__container form-wrapper" id="edit-basic">
                                        <div class="form-item form-type-textfield form-item-keys">
                                            <input class="search-form__input-text form-text" placeholder="Find what you need" type="text" id="edit-keys" name="keys" value="" size="20" maxlength="255">
                                        </div>
                                        <button class="button--clean search-form__button button form-submit" type="submit" id="edit-submit" name="op" value=""><i class="fas fa-search"></i></button><input type="hidden" name="get" value="[]">
                                    </div><input type="hidden" name="form_build_id" value="form-1qkCHXAsJJBrmzC0rCp-sW02sTRTQWOXq4iM8tmZ86Q">
                                    <input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="footer-left col-xs-12 col-lg-6">
                    <div id="block-menu-menu-footer-menu-en" class="block block-menu first last head-foot-expanded-menu foot-expanded-menu js-footerMenu footerMenu-processed">
                        <div class="content">
                            <ul class="nav list-unstyled nav--level-1">
                                <li class="first expanded nav__item menu-footer-menu-en-nav__item nav__item--level-1">
                                    <a href="/en/about-nhl-stenden" title="About NHL Stenden" class="nav__link menu-footer-menu-en-nav__link nav__link--level-1">About NHL Stenden</a><ul class="nav list-unstyled nav--level-2">
                                        <li class="first leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/merger" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Merger NHL and Stenden</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/why-nhl-stenden/education-concept" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Education concept</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/vacancies-and-internships" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Vacancies</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/appeals-objections-complaints" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Appeals, objections, complaints</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/code-of-conduct" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Code of Conduct</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/practical-information/studying-with-a-disability" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Studying with a disability</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/why-nhl-stenden/international-opportunities/exchange" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Exchange to NHL Stenden</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/locations" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Locations</a></li>
                                        <li class="last leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://bibliotheek.nhlstenden.com/en/" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Library</a></li>
                                    </ul>
                                </li>
                                <li class="last expanded nav__item menu-footer-menu-en-nav__item nav__item--level-1">
                                    <a href="/en/about-nhl-stenden/about-this-website" class="nav__link menu-footer-menu-en-nav__link nav__link--level-1">About this website</a><ul class="nav list-unstyled nav--level-2">
                                        <li class="first leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/about-this-website/cookie-policy" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Cookie policy</a></li>
                                        <li class="leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/about-this-website/privacy-statement" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Privacy statement</a></li>
                                        <li class="last leaf nav__item menu-footer-menu-en-nav__item nav__item--level-2"><a href="https://www.nhlstenden.com/en/about-nhl-stenden/about-this-website/disclaimer" class="nav__link menu-footer-menu-en-nav__link nav__link--level-2">Disclaimer</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-right-bottom col-xs-12 col-lg-6">
                    <div class="footer-right-bottom__content background--black-opacity-10 clearfix">
                        <div id="block-block-54" class="block block-block first">
                            <div class="content">
                                <table align="left" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4>
                                                    NHL Stenden<br>
                                                    University of Applied Sciences
                                                </h4>
                                                <p class="discover" style="color:white">
                                                    Rengerslaan 8-10<br>
                                                    P.O. Box 1080<br>
                                                    8900 CB Leeuwarden<br>
                                                    The Netherlands<br>
                                                    Tel: <a href="tel:+31582441155">+31 58 244 1155</a><br>
                                                    <a href="mailto:studentinfo@nhlstenden.com">studentinfo@nhlstenden.com</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="block-nhl-media-social-media" class="block block-nhl-media last">
                            <div class="content">
                                <h4>Discover more on:</h4>
                                <a href="https://www.facebook.com/nhlstenden/" class="social-link" title="Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>

                                <a href="https://twitter.com/nhlstenden" class="social-link" title="Twitter" target="_blank"><i class="fab fa-twitter-square"></i></a>

                                <a href="https://www.instagram.com/nhlstenden/" class="social-link" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>

                                <a href="https://www.youtube.com/channel/UCvyRcZ21kGoePNJaBDlQPlQ" class="social-link" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>

                                <a href="https://www.linkedin.com/school/nhlstenden/" class="social-link" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom" class="footer-bottom">
                <a href="~/Pages/index.cshtml" target="_blank" class="footer-logo">
                    <img src="~/Content/NHLStenden-W-Logo.png">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>