@{
    if (IsPost && Validation.IsValid() && Request.Form["submit"] == "Login")
    {
        Validation.RequireField("username", "Er moet een gebruikersnaam worden ingevuld");
        Validation.RequireField("password", "Er moet een wachtwoord in worden gevuld");
        var username = Request.Form["username"];
        var password = Request.Form["password"];

        if (Functions.Login(username, password))
        {
            var login = "";
            Response.Redirect("~/Pages/index_adm.cshtml");
            Session["login"] = login;
            //You've successfully logged in (pop up verdwijnen)
        }
        else
        {
            Response.Redirect("~/Pages/index_user.cshtml");
            Validation.AddFormError("Onjuiste gebruikersnaam en/of wachtwoord ingevoerd");
        }
    }
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" version="XHTML+RDFa 1.0" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="js checked svg objectfit object-fit placeholder" style="">
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script async="" src="https://sc-static.net/scevent.min.js"></script>

    <script type="text/javascript" async="" src="//static.hotjar.com/c/hotjar-1074737.js?sv=5"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//static.hotjar.com/c/hotjar-671059.js?sv=5"></script>
    <script type="text/javascript" src="https://www.googletagmanager.com/gtm.js?id=GTM-PC54FDB" async=""></script>
    <script type="text/javascript">dataLayer = [{ "entityType": "node", "entityBundle": "study_full_time", "entityId": "7225", "entityLabel": "HBO-ICT", "entityLanguage": "nl", "entityTnid": "0", "entityVid": "136178", "entityName": "", "entityUid": "0", "entityCreated": "1476963107", "entityStatus": "1", "entityTaxonomy": { "interessegebieden": { "21": "ICT" }, "locatie": { "28": "Leeuwarden" }, "opleidingstype": { "34": "Bachelor" }, "studieduur": { "45": "4 jaar" }, "toelatingsniveau": { "46": "HAVO", "48": "Cultuur \u0026 Maatschappij", "47": "Economie \u0026 Maatschappij", "49": "Natuur \u0026 Gezondheid", "50": "Natuur \u0026 Techniek", "51": "VWO", "52": "Cultuur \u0026 Maatschappij", "53": "Economie \u0026 Maatschappij", "54": "Natuur \u0026 Gezondheid", "55": "Natuur \u0026 Techniek", "56": "MBO" }, "tags": { "885": "ict", "932": "HBO-ict", "920": "informatica", "923": "bim", "926": "Business IT \u0026 Management", "929": "IT" }, "diploma": { "1540": "Bachelor" }, "startmaanden": { "1531": "September" }, "taal": { "1528": "Nederlands" }, "studie_soorten": { "354": "voltijd" } }, "drupalLanguage": "nl", "userUid": 0, "entityDynamicRetargeting": "ICT-ICT" }];</script>

    <!-- Responsive and mobile friendly -->

    <title>Leerplanschema NHL Stenden</title>
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_9PPr3VH1_6u5XaxqqqBW_eiLD1HFlbAcsE21CrEd_ng.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://www.nhlstenden.com/sites/default/files/css/css_XV-fB1_2kL5De2HkgfZt-hhNBy8hp7iCsgoqUA9-eDo.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Shared/StyleSheet.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/start/jquery-ui.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Shared/JavaScript.js"></script>
  <link rel="icon" type="image/png" href="https://www.nhlstenden.com/sites/all/themes/nhlstenden/images/favicons/favicon-16x16.png" sizes="16x16" />
</head>
<body class="html not-front not-logged-in two-sidebars page-node page-node- page-node-7225 node-type-study-full-time domain-nhl i18n-nl node-study cookieControl-processed">


    <header id="header" class="page-header page-header--fixed-mobile js-fixedHeader">

        <div class="wrap">
            <div class="page-header-inner ">
                <a id="logo" class="logo-global" href="~/Pages/index_user.cshtml" title="NHL Stenden Hogeschool">
                    <img src="~/Content/NHLStenden-B-Logo.png">
                </a>
            </div>
        </div>
    </header>
    <section class="main-navigation">
        <section class="top-menu clearfix">
            <div id="block-menu-menu-top-menu" class="block block-menu first last">
                <div class="content">
                    <ul class="nav list-unstyled nav--level-1">
                        <li>
                            <button class="btnModalPopup" style="background-color:#F3F4F5;border:none;"> <i class="fas fa-user"></i>&nbsp;<b>Login</b></button><div id="modal_dialog" style="display: none">


                                @Html.ValidationSummary()<form method="post">

                                    <input type="text" name="username" id="username" placeholder="Username" value="" /> @Html.ValidationMessage("username") <br />
                                    <input type="password" name="password" id="password" placeholder="password" value="" />  @Html.ValidationMessage("password")<br />
                                    <input type="submit" name="submit" value="Login" />
                                </form>
                            </div>
                        </li>

                        <li>
                            <span class="nav__link menu-top-menu-nav__link nav__link--level-1 nolink"><i class="fas fa-globe-europe"></i> EN</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</body>
</html>

